@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 57%;
  }
}

@media screen and (max-width: 900px) {
  html {
    font-size: 52.5%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
